In [2]:
#ORM how to use orm in python?
#ORM이 sql문 대신해서 해석해서 보내줌
#table을 하나의 class로 가져옴
#클래스에 속한 변수들을 가져옴
#데이터 관리할때는 orm을 사용하지 않는 것이 좋다

#What is SQLAlchemy?
#toolkit - containig various functions
#자동적으로 필요한 db api를 설정해주고 connection 또한 지원해줌
#객체(table)는 schema / types에 지정되어 있다
#객체에 변수로서 접근가능하다
#Engine - (Pool, Dialect) - DBAPI - Database 이때 engine이 start point가 된다
#dialect가 sql문으로 바꿔주는 역할 / Pool이 connection 역할

#engine 만드는 것 부터
#engine = create_engine('sqlite:///foo.db')
#path is relative
#dialect+driver//username:password@host:port/database
#우리는 username, password가 없기에 / 슬래쉬를 넣는 것
#echo 옵션 어떻게 sql문으로 바꿔서 작업했는지 history를 보여줌
#Lazy connecting - 그 자리에서 바로 파일 디비가 생성되었지만 lazy는 실제 작업을해서 연결을 할 때 즉, 나중에 생성됨
import sqlalchemy

In [80]:
!sqlalchemy

'sqlalchemy'��(��) ���� �Ǵ� �ܺ� ����, ������ �� �ִ� ���α׷�, �Ǵ�
��ġ ������ �ƴմϴ�.

In [7]:
from sqlalchemy.engine import create_engine
from sqlalchemy.schema import Table, Column, ForeignKey
from sqlalchemy.types import Integer, Text
from sqlalchemy.sql import select, insert, update

In [8]:
!dir *.db

 C ����̺��� �������� �̸��� �����ϴ�.
 ���� �Ϸ� ��ȣ: 9E59-9DF1

 c:\Users\SAMSUNG\Desktop\SW_Korea\data ���͸�

2024-03-07  ���� 12:09            32,768 playlist.db
2024-03-07  ���� 01:50            16,384 sns.db
2024-03-06  ���� 12:02            20,480 test.db
               3�� ����              69,632 ����Ʈ
               0�� ���͸�  829,281,857,536 ����Ʈ ����

In [9]:
engine = create_engine('sqlite:///ordm.db', echo=True)

In [10]:
!dir *.db

 C ����̺��� �������� �̸��� �����ϴ�.
 ���� �Ϸ� ��ȣ: 9E59-9DF1

 c:\Users\SAMSUNG\Desktop\SW_Korea\data ���͸�

2024-03-07  ���� 12:09            32,768 playlist.db
2024-03-07  ���� 01:50            16,384 sns.db
2024-03-06  ���� 12:02            20,480 test.db
               3�� ����              69,632 ����Ʈ
               0�� ���͸�  829,281,132,544 ����Ʈ ����

In [ ]:
#Python         RDBMS               Database
#Python         ORM                 RDBMS               Database
#------         Core                SQLite              FILE
#       Obj -->
#       (class => MetaData에게 class 등록하게 만듬 / 그러고 core가 sql문 해석하게 한다)
#
#본래에는 RDBMS 사이에 SQL이 존재했지만 이제는 python과 orm 사이에 obj(class)로 작성해서 넣는다

In [11]:
from sqlalchemy.schema import MetaData

In [12]:
meta = MetaData() #MetaData는 python에 있음

In [13]:
meta.clear() #metadata에 등록된 obj를 다 지운다는 뜻 / 여기서 지우면 코드에 존재하는 obj들을 지우는 것이지 db에 존재하느 data를 지우는것이아니다

FacadeDict({})

In [22]:
# mytable = Table()
pk = Column('PK', Integer, primary_key = True)
# pk는 객체다

In [23]:
Table('user', meta, pk, Column('NAME', Text, nullable=False))

Table('user', MetaData(), Column('PK', Integer(), table=<user>, primary_key=True, nullable=False), Column('NAME', Text(), table=<user>, nullable=False), schema=None)

In [18]:
meta.tables

FacadeDict({})

In [17]:
meta.clear()

In [24]:
meta.create_all(engine)   #bind option 아직까지는 db랑 아무 연결이 없는 상황이다

2024-03-08 09:37:45,207 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-03-08 09:37:45,208 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user")
2024-03-08 09:37:45,208 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 09:37:45,211 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("user")
2024-03-08 09:37:45,211 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 09:37:45,213 INFO sqlalchemy.engine.Engine
CREATE TABLE user (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT NOT NULL,
	PRIMARY KEY ("PK")
)


2024-03-08 09:37:45,218 INFO sqlalchemy.engine.Engine [no key 0.00056s] ()
2024-03-08 09:37:45,223 INFO sqlalchemy.engine.Engine COMMIT

In [28]:
!dir *.db

 C ����̺��� �������� �̸��� �����ϴ�.
 ���� �Ϸ� ��ȣ: 9E59-9DF1

 c:\Users\SAMSUNG\Desktop\SW_Korea\data ���͸�

2024-03-08  ���� 09:37             8,192 ordm.db
2024-03-07  ���� 12:09            32,768 playlist.db
2024-03-07  ���� 01:50            16,384 sns.db
2024-03-06  ���� 12:02            20,480 test.db
               4�� ����              77,824 ����Ʈ
               0�� ���͸�  829,281,112,064 ����Ʈ ����

In [31]:
User = meta.tables['user']

In [32]:
print(select(User)), print(User.select())

SELECT "user"."PK", "user"."NAME"
FROM "user"
SELECT "user"."PK", "user"."NAME"
FROM "user"

(None, None)

In [33]:
rst = engine.execute(select(User)) #cursor result 가 된다

2024-03-08 09:43:29,758 INFO sqlalchemy.engine.Engine SELECT user."PK", user."NAME"
FROM user
2024-03-08 09:43:29,759 INFO sqlalchemy.engine.Engine [generated in 0.00107s] ()

In [34]:
rst.fetchall() #똑같이 불러오는 역할

[]

In [35]:
print(insert(User)) #해당 테이블에 해당하는 데이터 전체를 요구
print(insert(User).values(NAME="어쩌고"))   #해당 테이블에서 해당하는 attribute를 가진 데이터를 요구
print(insert(User).values(NAME="어쩌고").compile().params)  #넘어간 value와 type 및 attribute를 알 수 있다 (complie().params)

INSERT INTO "user" ("PK", "NAME") VALUES (:PK, :NAME)
INSERT INTO "user" ("NAME") VALUES (:NAME)
{'NAME': '어쩌고'}

In [36]:
engine.execute(insert(User).values(NAME='어쩌고'))

2024-03-08 09:43:33,504 INFO sqlalchemy.engine.Engine INSERT INTO user ("NAME") VALUES (?)
2024-03-08 09:43:33,505 INFO sqlalchemy.engine.Engine [generated in 0.00096s] ('어쩌고',)
2024-03-08 09:43:33,514 INFO sqlalchemy.engine.Engine COMMIT

In [38]:
userList = engine.execute(select(User)).fetchall()

2024-03-08 09:44:38,220 INFO sqlalchemy.engine.Engine SELECT user."PK", user."NAME"
FROM user
2024-03-08 09:44:38,223 INFO sqlalchemy.engine.Engine [cached since 68.47s ago] ()

In [39]:
userList[0] #즉 아직은 python 코드 상에서 class로 저장되어 들어가있는 것임 / 여기서 1은 pk, 어쩌고가 value

(1, '어쩌고')

In [40]:
for person in ['사람1', '사람2', '사람3']:
    engine.execute(User.insert().values(NAME=person))

2024-03-08 09:47:24,603 INFO sqlalchemy.engine.Engine INSERT INTO user ("NAME") VALUES (?)
2024-03-08 09:47:24,605 INFO sqlalchemy.engine.Engine [cached since 231.1s ago] ('사람1',)
2024-03-08 09:47:24,613 INFO sqlalchemy.engine.Engine COMMIT
2024-03-08 09:47:24,619 INFO sqlalchemy.engine.Engine INSERT INTO user ("NAME") VALUES (?)
2024-03-08 09:47:24,621 INFO sqlalchemy.engine.Engine [cached since 231.1s ago] ('사람2',)
2024-03-08 09:47:24,625 INFO sqlalchemy.engine.Engine COMMIT
2024-03-08 09:47:24,631 INFO sqlalchemy.engine.Engine INSERT INTO user ("NAME") VALUES (?)
2024-03-08 09:47:24,631 INFO sqlalchemy.engine.Engine [cached since 231.1s ago] ('사람3',)
2024-03-08 09:47:24,633 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
meta.tables['user'].c   #column 확인 가능
meta.tables['user'].columns.PK  #PK구조 확인 및 객체 확인
meta.tables['user'].c['PK'] == 1 #비교 연산 가능 이때, ==1 전까지가 PK에 관한 값 의미

In [41]:
from sqlalchemy.sql import or_, and_

In [42]:
print(User.columns.PK == 2 or User.columns.PK == 3) #조건문에 or, and 둘 다 가능하다

"user"."PK" = :PK_1

In [46]:
print(select(User).where(User.c['PK'] == 1))
print(select(User).where(User.c['PK'] == 1).compile().params)

SELECT "user"."PK", "user"."NAME"
FROM "user"
WHERE "user"."PK" = :PK_1
{'PK_1': 1}

In [49]:
engine.execute(User.select().where(User.c['PK'] == 1)).fetchall()
engine.execute(User.select().where(or_(User.c['PK'] == 1, User.c['PK'] == 2))).fetchall()

2024-03-08 09:54:18,932 INFO sqlalchemy.engine.Engine SELECT user."PK", user."NAME"
FROM user
WHERE user."PK" = ?
2024-03-08 09:54:18,938 INFO sqlalchemy.engine.Engine [cached since 72.07s ago] (1,)
2024-03-08 09:54:18,940 INFO sqlalchemy.engine.Engine SELECT user."PK", user."NAME"
FROM user
WHERE user."PK" = ? OR user."PK" = ?
2024-03-08 09:54:18,942 INFO sqlalchemy.engine.Engine [generated in 0.00100s] (1, 2)

[(1, '어쩌고'), (2, '사람1')]

In [51]:
print(User.select().order_by(User.c['PK'])) #누구를 기준으로 할 것인지

AttributeError: 'Select' object has no attribute 'fetchall'

In [52]:
#Table 날리기
meta.clear() #객체를 지우는거
# meta.drop_all() #물리적 데이터 전체 지우기

In [53]:
meta.reflect(engine)  #물리적인 db에 있는 것을 코드상에서 쓸 수 있게끔 복사해오는 것을 의미함

2024-03-08 09:56:50,087 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2024-03-08 09:56:50,092 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 09:56:50,095 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("user")
2024-03-08 09:56:50,096 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 09:56:50,099 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2024-03-08 09:56:50,100 INFO sqlalchemy.engine.Engine [raw sql] ('user',)
2024-03-08 09:56:50,101 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("user")
2024-03-08 09:56:50,102 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 09:56:50,102 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("user")
2024-03-08 09:56:50,102 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 09:56:50,102 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2024-03-08 09:56:50,102 INFO sqlalchemy.engine.Engine [raw sql] ('user',)
2024-03-08 09:56:50,108 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("user")
2024-03-08 09:56:50,108 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 09:56:50,108 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("user")
2024-03-08 09:56:50,108 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 09:56:50,108 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("user")
2024-03-08 09:56:50,108 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 09:56:50,108 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("user")
2024-03-08 09:56:50,108 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 09:56:50,116 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2024-03-08 09:56:50,116 INFO sqlalchemy.engine.Engine [raw sql] ('user',)

In [55]:
print(meta.tables['user'].select())

SELECT "user"."PK", "user"."NAME"
FROM "user"

In [56]:
Table('Info', meta, Column('PK', Integer, primary_key=True), Column('EMAIL', Text, nullable=False))

Table('Info', MetaData(), Column('PK', Integer(), table=<Info>, primary_key=True, nullable=False), Column('EMAIL', Text(), table=<Info>, nullable=False), schema=None)

In [ ]:
# Meta            ORM         RDBMS

# User(table 객체)
# Info(table 객체)

#                 ----> (생성하라고 알려줘야함)

In [57]:
meta.create_all(engine, [meta.tables['Info']])

2024-03-08 10:00:23,892 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-03-08 10:00:23,892 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Info")
2024-03-08 10:00:23,899 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:00:23,901 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Info")
2024-03-08 10:00:23,901 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:00:23,904 INFO sqlalchemy.engine.Engine
CREATE TABLE "Info" (
	"PK" INTEGER NOT NULL,
	"EMAIL" TEXT NOT NULL,
	PRIMARY KEY ("PK")
)


2024-03-08 10:00:23,906 INFO sqlalchemy.engine.Engine [no key 0.00120s] ()
2024-03-08 10:00:23,908 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
# Meta            ORM         RDBMS

# User(table 객체)
# Info(table 객체)

#                 ---->       Info (존재)

In [58]:
from sqlalchemy.schema import ForeignKey

In [59]:
Table('Info2', meta, Column('PK', Integer, primary_key=True), Column('NAME', Text), Column('FK', Text, nullable=False))
Table('Info3', meta, Column('PK', Integer, primary_key=True), Column('FK', Text, ForeignKey(meta.tables['user'].c['PK'])))

Table('Info3', MetaData(), Column('PK', Integer(), table=<Info3>, primary_key=True, nullable=False), Column('FK', Text(), ForeignKey('user.PK'), table=<Info3>), schema=None)

In [60]:
meta.tables.keys()

dict_keys(['user', 'Info', 'Info2', 'Info3'])

In [61]:
meta.create_all(engine)

2024-03-08 10:05:25,217 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-03-08 10:05:25,218 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user")
2024-03-08 10:05:25,219 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:05:25,221 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Info")
2024-03-08 10:05:25,222 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:05:25,224 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Info2")
2024-03-08 10:05:25,225 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:05:25,227 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Info2")
2024-03-08 10:05:25,228 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:05:25,229 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Info3")
2024-03-08 10:05:25,229 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:05:25,231 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Info3")
2024-03-08 10:05:25,233 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:05:25,234 INFO sqlalchemy.engine.Engine
CREATE TABLE "Info2" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT,
	"FK" TEXT NOT NULL,
	PRIMARY KEY ("PK")
)


2024-03-08 10:05:25,234 INFO sqlalchemy.engine.Engine [no key 0.00056s] ()
2024-03-08 10:05:25,234 INFO sqlalchemy.engine.Engine
CREATE TABLE "Info3" (
	"PK" INTEGER NOT NULL,
	"FK" TEXT,
	PRIMARY KEY ("PK"),
	FOREIGN KEY("FK") REFERENCES user ("PK")
)


2024-03-08 10:05:25,234 INFO sqlalchemy.engine.Engine [no key 0.00112s] ()
2024-03-08 10:05:25,245 INFO sqlalchemy.engine.Engine COMMIT

In [62]:
engine.execute(User.select()).fetchall()

2024-03-08 10:06:02,078 INFO sqlalchemy.engine.Engine SELECT user."PK", user."NAME"
FROM user
2024-03-08 10:06:02,080 INFO sqlalchemy.engine.Engine [cached since 1352s ago] ()

[(1, '어쩌고'), (2, '사람1'), (3, '사람2'), (4, '사람3')]

In [63]:
meta.tables['Info2'].insert().values(NAME='어쩌고 정보', FK=1)

In [64]:
meta.tables['Info3'].insert().values(NAME='어쩌고 정보', 라=1)

In [65]:
engine.execute(meta.tables['Info2'].insert().values(NAME='어쩌고 정보', FK=1))

2024-03-08 10:07:57,206 INFO sqlalchemy.engine.Engine INSERT INTO "Info2" ("NAME", "FK") VALUES (?, ?)
2024-03-08 10:07:57,207 INFO sqlalchemy.engine.Engine [generated in 0.00126s] ('어쩌고 정보', 1)
2024-03-08 10:07:57,216 INFO sqlalchemy.engine.Engine COMMIT

In [70]:
engine.execute(meta.tables['Info3'].insert().values( FK=1))

2024-03-08 10:08:59,796 INFO sqlalchemy.engine.Engine INSERT INTO "Info3" ("FK") VALUES (?)
2024-03-08 10:08:59,797 INFO sqlalchemy.engine.Engine [generated in 0.00106s] (1,)
2024-03-08 10:08:59,807 INFO sqlalchemy.engine.Engine COMMIT

In [69]:
from sqlalchemy.sql import join

In [71]:
print(join(meta.tables['user'], meta.tables['Info2'])) #에러가 남 왜? ForeginKey로 bind 하지 않아서

NoForeignKeysError: Can't find any foreign key relationships between 'user' and 'Info2'.

In [72]:
print(join(meta.tables['user'], meta.tables['Info3']))

"user" JOIN "Info3" ON "user"."PK" = "Info3"."FK"

In [73]:
#on 절 만들기
print(join(meta.tables['user'], meta.tables['Info2'], meta.tables['user'].c['PK']==meta.tables['Info2'].c['FK']))
#세번째 argument가 그러면 ON절이 되는건가? YES

"user" JOIN "Info2" ON "user"."PK" = "Info2"."FK"

In [74]:
User = meta.tables['user']
Info2 = meta.tables['Info2']
Info3 = meta.tables['Info3']

In [75]:
print(select([User.c.PK, Info2.c.NAME]).select_from(
    join(User, Info2, User.c.PK==Info2.c.FK)
))

SELECT "user"."PK", "Info2"."NAME"
FROM "user" JOIN "Info2" ON "user"."PK" = "Info2"."FK"

In [77]:
print(select([User.c.PK, Info3.c.FK]).select_from(
    join(User, Info3)
))

#ForeginKey가 있는 애는 On절이 필요가 없다 따라서 더 편함

SELECT "user"."PK", "Info3"."FK"
FROM "user" JOIN "Info3" ON "user"."PK" = "Info3"."FK"

In [79]:
engine.execute(select([User.c.PK, Info2.c.NAME]).select_from(
    join(User, Info2, User.c.PK==Info2.c.FK)
))

engine.execute(select([User.c.PK, Info3.c.FK]).select_from(
    join(User, Info3)
))

#SQL문을 보는 것에 의의를 두자 / 현재는 SQL문을 우리가 직접 작성하지 않으므로 더 편한 것이고 python 코드 상으로 사용할 수 있음이 좋은 것이다

2024-03-08 10:15:50,902 INFO sqlalchemy.engine.Engine SELECT user."PK", "Info2"."NAME"
FROM user JOIN "Info2" ON user."PK" = "Info2"."FK"
2024-03-08 10:15:50,903 INFO sqlalchemy.engine.Engine [cached since 43.02s ago] ()
2024-03-08 10:15:50,907 INFO sqlalchemy.engine.Engine SELECT user."PK", "Info3"."FK"
FROM user JOIN "Info3" ON user."PK" = "Info3"."FK"
2024-03-08 10:15:50,908 INFO sqlalchemy.engine.Engine [generated in 0.00104s] ()

In [86]:
engine = create_engine('sqlite:///playlist.db', echo=True)

In [87]:
conn = engine.connect()

In [88]:
meta = MetaData()

In [89]:
meta.reflect(conn)  #python에서 사용가능하게 올려주는 역할을 함

2024-03-08 10:36:24,255 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2024-03-08 10:36:24,256 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,257 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("ALBUM")
2024-03-08 10:36:24,258 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,260 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2024-03-08 10:36:24,260 INFO sqlalchemy.engine.Engine [raw sql] ('ALBUM',)
2024-03-08 10:36:24,262 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("ALBUM")
2024-03-08 10:36:24,262 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,264 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("ALBUM")
2024-03-08 10:36:24,265 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,267 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2024-03-08 10:36:24,268 INFO sqlalchemy.engine.Engine [raw sql] ('ALBUM',)
2024-03-08 10:36:24,268 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("ALBUM")
2024-03-08 10:36:24,271 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,272 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("ALBUM")
2024-03-08 10:36:24,272 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,274 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("ALBUM")
2024-03-08 10:36:24,274 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,274 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("ALBUM")
2024-03-08 10:36:24,274 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,274 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2024-03-08 10:36:24,274 INFO sqlalchemy.engine.Engine [raw sql] ('ALBUM',)
2024-03-08 10:36:24,279 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("ARTIST")
2024-03-08 10:36:24,279 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,279 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2024-03-08 10:36:24,279 INFO sqlalchemy.engine.Engine [raw sql] ('ARTIST',)
2024-03-08 10:36:24,279 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("ARTIST")
2024-03-08 10:36:24,279 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,288 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("ARTIST")
2024-03-08 10:36:24,288 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,290 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2024-03-08 10:36:24,290 INFO sqlalchemy.engine.Engine [raw sql] ('ARTIST',)
2024-03-08 10:36:24,290 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("ARTIST")
2024-03-08 10:36:24,290 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,294 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("ARTIST")
2024-03-08 10:36:24,295 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,296 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("ARTIST")
2024-03-08 10:36:24,296 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,296 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("ARTIST")
2024-03-08 10:36:24,296 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,296 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2024-03-08 10:36:24,296 INFO sqlalchemy.engine.Engine [raw sql] ('ARTIST',)
2024-03-08 10:36:24,296 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("GENRE")
2024-03-08 10:36:24,304 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,305 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2024-03-08 10:36:24,308 INFO sqlalchemy.engine.Engine [raw sql] ('GENRE',)
2024-03-08 10:36:24,310 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("GENRE")
2024-03-08 10:36:24,311 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,312 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("GENRE")
2024-03-08 10:36:24,312 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,312 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2024-03-08 10:36:24,315 INFO sqlalchemy.engine.Engine [raw sql] ('GENRE',)
2024-03-08 10:36:24,317 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("GENRE")
2024-03-08 10:36:24,318 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,319 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("GENRE")
2024-03-08 10:36:24,321 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,321 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("GENRE")
2024-03-08 10:36:24,324 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,325 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("GENRE")
2024-03-08 10:36:24,325 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,325 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2024-03-08 10:36:24,325 INFO sqlalchemy.engine.Engine [raw sql] ('GENRE',)
2024-03-08 10:36:24,329 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("TRACK")
2024-03-08 10:36:24,329 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,329 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2024-03-08 10:36:24,329 INFO sqlalchemy.engine.Engine [raw sql] ('TRACK',)
2024-03-08 10:36:24,329 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("TRACK")
2024-03-08 10:36:24,329 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,329 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("TRACK")
2024-03-08 10:36:24,329 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,337 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2024-03-08 10:36:24,337 INFO sqlalchemy.engine.Engine [raw sql] ('TRACK',)
2024-03-08 10:36:24,340 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("TRACK")
2024-03-08 10:36:24,340 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,341 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("TRACK")
2024-03-08 10:36:24,341 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,341 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("TRACK")
2024-03-08 10:36:24,341 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,341 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("TRACK")
2024-03-08 10:36:24,341 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-08 10:36:24,345 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2024-03-08 10:36:24,345 INFO sqlalchemy.engine.Engine [raw sql] ('TRACK',)

In [90]:
len(meta.tables), meta.tables.keys()

(4, dict_keys(['ALBUM', 'ARTIST', 'GENRE', 'TRACK']))

In [91]:
meta.tables['TRACK'].c.keys()

['PK', 'NAME', 'LENGTH', 'RATING', 'COUNT', 'AFK', 'GFK']

In [94]:
Artist = meta.tables['ARTIST']
Album = meta.tables['ALBUM']
Genere = meta.tables['GENRE']
Track = meta.tables['TRACK']

In [96]:
print(Artist.select())
conn.execute(Artist.select()).fetchall()

SELECT "ARTIST"."PK", "ARTIST"."NAME", "ARTIST".temp
FROM "ARTIST"
2024-03-08 10:39:02,594 INFO sqlalchemy.engine.Engine SELECT "ARTIST"."PK", "ARTIST"."NAME", "ARTIST"."temp"
FROM "ARTIST"
2024-03-08 10:39:02,594 INFO sqlalchemy.engine.Engine [generated in 0.00132s] ()

[(1, '수지', ''), (2, '박효신', ''), (3, '아이유', '')]

In [97]:
print(Album.join(Artist, Album.c.FK==Artist.c.PK))

"ALBUM" JOIN "ARTIST" ON "ALBUM"."FK" = "ARTIST"."PK"

In [120]:
conn.execute(select([Artist.c.NAME, Album.c.NAME]).select_from(
    Album.join(Artist, Album.c.FK==Artist.c.PK)
)).fetchall()

ResourceClosedError: This Connection is closed

In [ ]:
Album.join(Artist, Album.c.FK==Artist.c.PK).join(Track, Track.c.AFK==Album.c.PK)print()

"ALBUM" JOIN "ARTIST" ON "ALBUM"."FK" = "ARTIST"."PK" JOIN "TRACK" ON "TRACK"."AFK" = "ALBUM"."PK"

In [100]:
conn.execute(select([Artist.c.NAME, Album.c.NAME, Track.c.NAME]).select_from(
    Album.join(Artist, Album.c.FK==Artist.c.PK).join(Track, Track.c.AFK==Album.c.PK)
)).fetchall()

2024-03-08 10:43:36,409 INFO sqlalchemy.engine.Engine SELECT "ARTIST"."NAME", "ALBUM"."NAME" AS "NAME_1", "TRACK"."NAME" AS "NAME_2"
FROM "ALBUM" JOIN "ARTIST" ON "ALBUM"."FK" = "ARTIST"."PK" JOIN "TRACK" ON "TRACK"."AFK" = "ALBUM"."PK"
2024-03-08 10:43:36,410 INFO sqlalchemy.engine.Engine [generated in 0.00121s] ()

[('아이유', '아이유앨범', '아이유노래3'),
 ('아이유', '아이유앨범', '아이유노래2'),
 ('아이유', '아이유앨범', '아이유노래3'),
 ('박효신', '박효신앨범', '박효신노래1'),
 ('박효신', '박효신앨범', '박효신노래2'),
 ('박효신', '박효신앨범', '박효신노래3')]

In [102]:
print(Album.join(Artist, Album.c.FK==Artist.c.PK)\
      .join(Track, Track.c.AFK==Album.c.PK)\
      .join(Genere, Track.c.GFK==Genere.c.PK))

"ALBUM" JOIN "ARTIST" ON "ALBUM"."FK" = "ARTIST"."PK" JOIN "TRACK" ON "TRACK"."AFK" = "ALBUM"."PK" JOIN "GENRE" ON "TRACK"."GFK" = "GENRE"."PK"

In [ ]:
#extend existing? 이미 artist라는 테이블이 있는데 meta에다가 artist를 또 생기면 어케되느냐
#테이블이 이미 meta에 존재하므로 에러가 난다
#extend_existing을 하면 기존에 있던거에 반영이 되는 것이다
#Table('TEMP', meta, Column('PK', Integer, primary_key=True), extend_existing-True)
#table 객체에 반영이 되는 것이다 / alter랑 같은 역할?

In [103]:
conn.close()

In [ ]:
#Regular Expression

#패턴을 가지고 특정 텍스트를 찾는 것을 의미함
#찾고 교체하고, 분해하고, 어떤 그룹으로 생겼는지 이런 것들을 하기 위함으로 사용하는 특정 패턴
#대용량 데이터 처리 시에 사용함
#가장 빠름 텍스트 처리 시에 제일 빠름
#메타 캐릭터로 존재함 다양한 언어들이 존재
#. - any character
#* - zero, one or more
#+ - one or more
#? - zero or one (앞에 것들이 있던지 없던지)
#{} - Specified number of occurences (숫자가 들어감 minimum부터 maximum까지)

#^x - ~로 시작하는
#x$ - ~로 끝나는
#.x - 한글자 아무거나 하나 존재해야하고 x가 있어야함
#x+ - 한개 이상, x가 한번 이상 반복되는 형태
#x? - 있거나 없거나 x라는 문자가 있거나 없거나
#x* - x도 되고 xx도 되고 a도 된다 (0번도 가능하니깐)
#x|y - or x 또는 y
#(?:x) - 캡쳐하지 않는 구릅은 들어가지 안흔ㄴ다
#x{n} - x가 n번 반복한 문자를 찾는다
#x{n,m} - ,를 기준으로 앞에가 최소 n번 최대 m번 x를 반복된 문자를 찾는다

#[] - 이 중에 하나 ex)[abc] - 셋 중 하나
#[-] - a부터 c까지 중 하나 [x-y]
#[^] - 이중에 하나가 아닌 나머지[^xy] -> x또는 y가 아닌 글자
#\^ - escape 되는 문자 ex)print('\\n')

#대문자와 소문자는 서로 반대
#\b - 문자와 공백 사이의 문자를 찾습니다 / 알파벳 숫자 등을 구분해서 분리시키는 것
#\B - non-word boundary
#\d - digit
#\D - 숫자가 아닌 문자들
#\s - 무언가를 구분 짓는 것들 (문자를 의미함), 띄어쓰기 탭 new line 등을

In [ ]:
#(ht{2}ps?)://(도메인) ==> https://~ or http://~ 라는 주소들을 수집할 수 있다
#정규식의 아름다움
#(\+?[\d]{1,2}.?)?([\d공일이삼사오육칠팔구]{2,3})?.?[\d공일이삼사오육칠팔구]{4}.?[\d공일이삼사오육칠팔구]{4}
#전화번호 긁는법
#\b[a-zA-Z0-9\-_]{3,}@(\.?[a-z0-9.\-_]+)+
#이메일 긁기

In [ ]:
#code로 작성해보는 정규식

In [104]:
import re

In [ ]:
# re.compile => 패턴
# re.search => 찾을 때 (여기에 ^ 넣으면 match랑 같음)
# re.match => 처음부터 매칭되는지 찾을 때
# re.findall => 다 찾을 때

# re.IGNORECASE
# re.MULTILINE
# 옵션

In [109]:
data='''
02-1234-1232
010-1234-1234
010 1234 1234
010.1234.1234
01공 일23사 1234
'''

# re.search()

In [ ]:
# #문자열
# '\n' => 일반문자열
# r'\n' => r 문자
# re.escape('\n') => 여기에도 문자열 존재

In [105]:
print('\n', r'\n', re.escape('\n'))
#1 줄 띄우기 2. \n이 그대로 나옴 3. \ 만 나옴
#r'\n' => raw text
#언제?
#C:\users\누구\downloads 이런 경로 사용할 경우가 있는데 문제가 존재함 왜?
#특수한 기능을 하는 애들이므로
#쓰고 싶을때는 이 r raw text를 사용해서 한다

 \n \

In [106]:
print('\n', r'\n', re.escape('\n'), re.escape(r'\n')), '\n', r'\n', re.escape('\n'), re.escape(r'\n')

 \n \
 \\n

(None, '\n', '\\n', '\\\n', '\\\\n')

In [115]:
# \b \s \d ...  얘네만 피하면 되서 어떤걸 써도 상관없지만 pattern 만들때는 r raw text를 만들어줘야함
#따라서
rst = re.search(r'([0-9]{2,3}).?([0-9]{4}).?([0-9]{4})', data)

In [118]:
# rst.span, rst.groups(), rst.group()
rst.span, rst.groups(), rst.group(), rst.group(1), rst.group(2), rst.group(3)
# rst.start(), rst.end(), data[rst.start():rst.end()]

(<function Match.span(group=0, /)>,
 ('02', '1234', '1232'),
 '02-1234-1232',
 '02',
 '1234',
 '1232')

In [119]:
rst = re.findall(r'([0-9]{2,3}).?([0-9]{4}).?([0-9]{4})', data)
rst

[('02', '1234', '1232'),
 ('010', '1234', '1234'),
 ('010', '1234', '1234'),
 ('010', '1234', '1234')]

In [ ]:
# search vs match
re.match(r'Life', 'My Life is too short')
re.search(r'^Life', 'My Life is too short')
# 위의 두개 function은 서로 같다
# match와 search는 ^ 을 넣어야 같아진다

In [ ]:
#Lazy vs Greedy
#Greedy = 제일 마지막에 매칭되는 글자로 결과
#Lazy = 가장 첫번째 매칭되는 글자로 결과

# ORM

ORM transfers Python code into SQL Query statement

ORM takes table as one class

But when you manage data, recommend not to use ORM

#### What is SQLAlchemy?

It automatically set proper DB api and connect to the DB

Table comes as a class

Engine - (Pool and Dialect) - Database, Engine will be the start point

Dialect acts transferring Python to SQL

Pool acts connection role

### How to make Engine?

```
engine = create_engine('sqlite:///foo.db')
```

A path is relative, originally, dialect+driver//username:password@host:port/database

Option ```echo``` shows the history of SQL

Feature: Lazy connecting

Base Task for sqlalchemy

```
import sqlalchemy
from sqlalchemy.engine import create_engine
from sqlalchemy.schema import Table, Column, ForeignKey #To use ForeginKey IMPORT!
from sqlalchemy.types import Integer, Text              #Type IMPORT!
from sqlalchemy.sql import select, insert, update       #To use execute IMPORT!
from sqlalchemy.schema import MetaData
from sqlalchemy.sql import or_, and_                    #For logic operator IMPORT!
from sqlalchemy.sql import join                         #For join statement IMPORT!

engine = create_engine('sqlite:///ordm.db', echo=True)
```

Python         RDBMS               Database

Python         ORM                 RDBMS               Database

------         Core                SQLite              FILE

       Obj -->

       (class => Force MetaData to register class and core to interpret sql statement)

Originally, SQL was between RDBMS, but now we put class (Object) between Python and ORM

Declare a meta by

```
meta = MetaData()       #MetaData is in Python
meta.clear()            #Eliminate all obj in metadata, not the data in database
meta.create_all(engine) #Commit to the database
meta.reflect(engine)    #Copy data from DB
meta.drop_all()         #Delete all data from DB
```

We want to execute SQL with Python

```
User = meta.tables['user']          #Declare indicator table named 'user'

#Old version
rst = engine.execute(select(User))  #Cursor's result
rst.fetchall()                      #Load the result

#New version
conn = engine.connect()             #Declare connection
conn.execute(User.select()).fetchall() #Execute by connection
```

### How to make table?

```
Table('Info', meta,
    Column('PK', Integer, primary_key=True),
    Column('EMAIL', Text, nullable=False)
)   #Create object
```

Now the there is 

Meta            ORM         RDBMS

Info(table object)

                ----> (Need to inform to create)

```
meta.create_all(engine, [meta.tables['Info']])
    #Inform RDBMS to create table from DB
```

The result will be

Meta            ORM         RDBMS

Info(table object)

                ---->       Info (I'm here!)

### How to command by Python?

```
#Old version
select(User)                                        #Require all data from table
insert(User).values(NAME="what")                    #Insert NAME value "what" to the table
insert(User).values(NAME="what").compile().params   #compile().params can make us to know value, type, and attribute
insert(User).values(NAME="what", FK=1)              #At once, give value NAME and FK
join(meta.tables['user'], meta.tables['Info2'])     #For no error, you have to bind by FK
join(meta.tables['user'], meta.tables['Info2'], meta.tables['user'].c['PK']==meta.tables['Info2'].c['FK'])
#3rd argument will be the On parameter!

#New version
User.select()
User.join(Info2, User.c.FK==Info2.c.PK)

meta.tables.keys()                  #Return dictionary keys of meta (Tables)
meta.tables['user'].c               #Check column
meta.tables['user'].columns.PK      #Check class and structure of PK
meta.tables['user'].c.['PK'] == 1   #Logical Operator is possible
#--------------------------|         is PK value

User.select().where(User.c['PK'] == 1))                         #Using where
User.select().where(or_(User.c['PK'] == 1, User.c['PK'] == 2))  #Using or_, and_
User.select().order_by(User.c['PK'])                            #Order by

```

Notice: When you fetchall() the data, they put in as a class

```
userList = engine.execute(select(User)).fetchall()
userList[0]
>>> (1, 'what')
```

### Dynamically insert data

```
for person in ['p1', 'p2', 'p3']:
    engine.execute(User.insert().values(NAME=person))   #Just Put Indicator!
```

### Select + Join

```
#Old version
select([User.c.PK, Info3.c.FK]).select_from(
    join(User, Info3)
)

#New version
select([Artist.c.NAME, Album.c.NAME]).select_from(
    Album.join(Artist, Album.c.FK==Artist.c.PK)
)

#For using ON with FK

select([User.c.PK, Info2.c.NAME]).select_from(
    join(User, Info2, User.c.PK==Info2.c.FK)
)
```

### 3-Join

```
Album.join(Artist, Album.c.FK==Artist.c.PK).join(Track, Track.c.AFK==Album.c.PK)

#or

select([Artist.c.NAME, Album.c.NAME, Track.c.NAME]).select_from(
    Album.join(Artist, Album.c.FK==Artist.c.PK).join(Track, Track.c.AFK==Album.c.PK)
)
```

### Close

# Remeber to close using ```conn.close()```

# Regular Expression

### When we use?

We use to find pattern and find the desired text

It is the fastest in text managing (Not for english)

* . - any character
* * - zero, one or more
* + - one or more
* ? - zero or one (앞에 것들이 있던지 없던지)
* {} - Specified number of occurences (숫자가 들어감 minimum부터 maximum까지)

* ^x - ~로 시작하는
* x$ - ~로 끝나는
* .x - 한글자 아무거나 하나 존재해야하고 x가 있어야함
* x+ - 한개 이상, x가 한번 이상 반복되는 형태
* x? - 있거나 없거나 x라는 문자가 있거나 없거나
* x* - x도 되고 xx도 되고 a도 된다 (0번도 가능하니깐)
* x|y - or x 또는 y
* (?:x) - 캡쳐하지 않는 구릅은 들어가지 안흔ㄴ다
* x{n} - x가 n번 반복한 문자를 찾는다
* x{n,m} - ,를 기준으로 앞에가 최소 n번 최대 m번 x를 반복된 문자를 찾는다

* [] - 이 중에 하나 ex)[abc] - 셋 중 하나
* [-] - a부터 c까지 중 하나 [x-y]
* [^] - 이중에 하나가 아닌 나머지[^xy] -> x또는 y가 아닌 글자
* \^ - escape 되는 문자 ex)print('\\n')

대문자와 소문자는 서로 반대

* \b - 문자와 공백 사이의 문자를 찾습니다 / 알파벳 숫자 등을 구분해서 분리시키는 것
* \B - non-word boundary
* \d - digit
* \D - 숫자가 아닌 문자들
* \s - 무언가를 구분 짓는 것들 (문자를 의미함), 띄어쓰기 탭 new line 등을

ex) (ht{2}ps?):// we can collect url

(\+?[\d]{1,2}.?)?([\d공일이삼사오육칠팔구]{2,3})?.?[\d공일이삼사오육칠팔구]{4}.?[\d공일이삼사오육칠팔구]{4} To scrape phone number

\b[a-zA-Z0-9\-_]{3,}@(\.?[a-z0-9.\-_]+)+ To scrape email

### Use code for regular expression

**Notice! use raw data r''!**

```
import re

data='''
02-1234-1232
010-1234-1234
010 1234 1234
010.1234.1234
01공 일23사 1234
'''

rst = re.search(r'([0-9]{2,3}).?([0-9]{4}).?([0-9]{4})', data)
# Result, search result from data split by regular expression

rst.span, rst.groups(), rst.group(), rst.group(1), rst.group(2), rst.group(3)
>>> <function Match.span(group=0, /)>,
 ('02', '1234', '1232'),
 '02-1234-1232',
 '02',
 '1234',
 '1232')

rst = re.findall(r'([0-9]{2,3}).?([0-9]{4}).?([0-9]{4})', data)
#Find all data
>>>[('02', '1234', '1232'),
 ('010', '1234', '1234'),
 ('010', '1234', '1234'),
 ('010', '1234', '1234')]

re.match(r'Life', 'My Life is too short')
re.search(r'^Life', 'My Life is too short')
#Two function is same
#inorder to make same, put ^ to the search function
```

##### Lazy vs Greedy

Greedy - The result is last matched result

Lazy - The first result which is first matched result