In [ ]:
import sqlite3

# Sqlite

In order to connect with db which will be test.db sqlite3.connect(DBNAME) will connect to the db file

```
conn = sqlite3.connect('test.db')
cur = conn.cursor()
conn.close()
```

will be the basic form of the sqlite3

So the cursor will be the sqlite3

Overview structure will be

Python --->   SQL   ---> DB

python ---> sqlite3 ---> test.db

             cursor

Basically, cursor will be the sqlite3

So if we connect to the db using sqlite3.connect, the cursor will load the db

If we execute SQL and want to save the changement, conn.commit() will save the db like github

In [ ]:
conn = sqlite3.connect('test.db')
cur = conn.cursor()
conn.close()

In [ ]:
conn = sqlite3.connect('test.db')
cur = conn.cursor()

cur.execute('''
            CREATE TABLE CITY(
            PK INTEGER PRIMARY KEY,
            NAME VARCHAR(1)
            );
            ''')

# SQL execute

If we want to execute the SQL query statement, have to use cur.execute

```
#cur is conn.cursor()
cur.execute('''
            SQL QUERY STATEMENT
            ''')
```

There are many query statement such as SHOW, JOIN, GROUP BY, etc.

Also, after execute statement, if there is no error, then the result command line will be shown like...

```
sqlite3.Cursor at 0x178460b59d0>
```

In [ ]:
cur.execute('''
            INSERT INTO CITY (PK, NAME) VALUES (1, "안암점");
            ''')

```
cur.execute('''
            INSERT INTO CITY (PK, NAME) VALUES (1, "안암점");
            ''')
```

Will insert value 1 and "안암점" into CITY table with PK and NAME

In [ ]:
gu = "성북구"
cur.execute('''
            INSERT INTO CITY (NAME) VALUES (?)
            ''', (gu, ))

If we want to put the value non-statically, there are two ways to put

one way to put will be question mark and key method

```
cur.execute('''
            INSERT INTO CITY (NAME) VALUES (?)
            ''', (DESIRED VALUE, ))

or

cur.execute('''
            INSERT INTO CITY (NAME) VALUES (:key)
            ''', {'key': DESIRED VALUE})
```

Both other argument should be iterable

want to see table...

```
cur.execute('SELECT * FROM CITY')
city = cur.fetchall()
```

Will show every fetched database

There are other functions to see such as fetchone() - show only one / fetchmany() - show many of them (partially show)

If we want to put various values into it

```
cur.execute('''
            INSERT INTO CITY (NAME) VALUES (:key)
            ''', ((DESIRED VALUE1), (DESIRED VALUE2), (DESIRED VALUE3)))
```

for question mark method...

```
cur.execute('''
            INSERT INTO CITY (PK, NAME) VALUES (?, ?)
            ''', ((DESIRED VALUE1), (DESIRED VALUE2), (DESIRED VALUE3)))
```

The second argument must be iterable

or we can change second argument like

```
({'no': DESIRED VALUE1}, {'no': DESIRED VALUE2}, ...)
```

```
SELECT PK FROM CITY WHERE NAME LIKE ?
```

Find EXACTLY same name from city table

%NAME% is finding the value that having the value

```
TABLE AS A
```

Declare table as A which is similar with variable

```
GROUP BY B.PK
ORDER BY B.PK ASC
```

Group by - is bind values by B.PK

Order by - show the values order by B.PK values with ascending values

Using GROUP BY, we can use COUNT() to see how much rows we have

### Join

There are various join

1. Inner join
2. Left join
3. Right join
4. Outer join

Each left and right will be decided by the table name first show up

In [ ]:
cur.execute('''
            INSERT INTO CITY (NAME) VALUES (:key)
            ''', {'key':gu})

In [ ]:
cur.executemany('''
            INSERT INTO CITY (NAME) VALUES (?)
            ''', (('노원구',), ('강북구', ), ('중구',)))

In [ ]:
cur.lastrowid #recent id values
cur.execute('SELECT * FROM CITY')
city = cur.fetchall()

In [ ]:
conn.close()

In [ ]:
conn = sqlite3.connect('test.db')
cur = conn.cursor()
cur.execute('SELECT * FROM CITY')
cur.fetchall()

In [ ]:
cur.executescript('''
                  DROP TABLE IF EXISTS SUPPLIER;
                CREATE TABLE SUPPLIER (
                  PK INTEGER PRIMARY KEY,
                  NAME TEXT,
                  FK INTEGER NOT NULL
                );
                  
                  DROP TABLE IF EXISTS PART;
                CREATE TABLE PART(
                  PK INTEGER PRIMARY KEY,
                  NAME TEXT
                );
                  
                  DROP TABLE IF EXISTS SELLS;
                CREATE TABLE SELLS(
                  FK1 INTEGER NOT NULL,
                  FK2 INTEGER NOT NULL
                );
                ''')

In [ ]:
#Qmark
cur.executemany('''
                INSERT INTO CITY (PK, NAME) VALUES(?, ?)
                ''',    ((1, '성북구'),(2, '강북구'),('3', "중구")))

In [ ]:
#named
cur.executemany('''
                INSERT INTO PART VALUES(:no, :name)
                ''', ({'no':'1','name':'아메리카노'},{'no':'2','name':'카페라떼'},{'no':'3','name':'바닐라라떼'},{'no':'4','name':'아이스티'}))

In [ ]:
conn.commit()

In [ ]:
conn.close()

In [ ]:
conn = sqlite3.connect('test.db')
cur = conn.cursor()

In [ ]:
cur.execute('SELECT * FROM CITY, PART')
cur.fetchall()

In [ ]:
# SUPPLIER - 지점
# cur.execute('INSERT INTO SUPPLIER VALUES(1, "안암점", ?)')
gu = "성북"
cur.execute('SELECT PK FROM CITY WHERE NAME=?', (gu,))
cur.fetchall()
#아무것도 안나옴 왜? 정확히 일치하는 애가 없으니깐

In [ ]:
gu = '성북'
cur.execute('''
            SELECT PK FROM CITY WHERE NAME LIKE ?
            ORDER BY PK ASC
            LIMIT 0, 1
            ''', ('%'+gu+'%',))
#LIMIT 시작 인덱스,갯수
rst = cur.fetchone()
fk = None if rst == None else rst[0]
fk

In [ ]:
store = '안암점'
if fk is not None:
    cur.execute('''
                INSERT INTO SUPPLIER VALUES(NULL, ?, ?);    
''', (store, fk))
cur.execute('SELECT * FROM SUPPLIER')
cur.fetchall()

In [ ]:
cur.execute('SELECT * FROM SUPPLIER')
cur.fetchall()

In [ ]:
# 중첩 SQL
cur.execute('''
INSERT INTO SUPPLIER VALUES(NULL, ?, (
    SELECT PK 
    FROM CITY 
    WHERE NAME LIKE ?
    ORDER BY PK ASC
    LIMIT 0, 1
));
            ''', ('종암점', '%성북%'))

In [ ]:
cur.execute('SELECT * FROM SUPPLIER')
cur.fetchall()

In [ ]:
cur.executemany('''
                INSERT INTO SUPPLIER VALUES(NULL, ?, (
                SELECT PK
                FROM CITY
                WHERE NAME LIKE ?
                ORDER BY PK ASC
                LIMIT 0, 1
                ));
''', (('3호점', '%강북%'), ('1호점', '%중구%'), ('3호점', '%성북%'), ('2호점', '%강북%')));

In [ ]:
cur.executemany('''
    INSERT INTO SELLS VALUES(?, ?)
''', ((1,1), (1,2), (2,1), (2,2), (3,4), (4,3), (5,2), (6,1), (7,1)))

In [ ]:
conn.commit()

In [ ]:
cur.execute('SELECT * FROM SELLS')
cur.fetchall()

In [ ]:
# city - supplier mix
cur.execute('''
            SELECT B.NAME, A.NAME FROM SUPPLIER AS A 
            LEFT JOIN CITY AS B 
            ON B.PK = A.FK
            ORDER BY B.PK ASC
            ''')
cur.fetchall()

In [ ]:
# city - supplier mix
cur.execute('''
            SELECT B.NAME, COUNT(A.NAME) FROM SUPPLIER AS A 
            LEFT JOIN CITY AS B 
            ON B.PK = A.FK
            GROUP BY B.PK
            ORDER BY B.PK ASC
            ''')
cur.fetchall()

In [ ]:
#SUPPLIER - PART - SELLS
cur.execute('''
            SELECT B.NAME, C.NAME
            FROM SELLS AS A
            INNER JOIN SUPPLIER AS B
            ON B.PK = A.FK1
            INNER JOIN PART AS C
            ON C.PK = A.FK2
''')
cur.fetchall()

In [ ]:
cur.execute('''
            SELECT A.NAME, COUNT(C.NAME)
            FROM PART AS A
            LEFT JOIN SELLS AS B
            ON A.PK = B.FK2
            INNER JOIN SUPPLIER AS C
            ON B.FK1 = C.PK
            GROUP BY A.PK
''')
cur.fetchall()

In [ ]:
cur.execute('''
            SELECT D.NAME, A.NAME, C.NAME, COUNT(C.NAME)
            FROM SUPPLIER AS A
            LEFT JOIN SELLS AS B
            ON A.PK = B.FK2
            INNER JOIN PART AS C
            ON B.FK1 = C.PK
            INNER JOIN CITY AS D
            ON D.PK = A.FK
            GROUP BY C.PK
''')
cur.fetchall()

#executescript는 비정규 방법이고 안정적으로 실행된다고 보장할 수 없으니 지양해야한다