In [2]:
import pandas as pd

In [3]:
pd.read_parquet

<function pandas.io.parquet.read_parquet(path: 'FilePath | ReadBuffer[bytes]', engine: 'str' = 'auto', columns: 'list[str] | None' = None, storage_options: 'StorageOptions | None' = None, use_nullable_dtypes: 'bool | lib.NoDefault' = <no_default>, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>, filesystem: 'Any' = None, filters: 'list[tuple] | list[list[tuple]] | None' = None, **kwargs) -> 'DataFrame'>

In [11]:
data = pd.read_csv('C:/Users/SAMSUNG/Desktop/SW_Korea/sample/seoul.csv')

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_47308\1970972479.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('C:/Users/SAMSUNG/Desktop/SW_Korea/sample/seoul.csv')

In [12]:
data.상호명

0             토끼정
1             카페숲
2             다이앤
3            숯불에닭
4          맑은에스테틱
           ...
489867     모아모아세탁
489868    지에스25강동
489869        런베이
489870        북카페
489871     봉구비어난곡
Name: 상호명, Length: 489872, dtype: object

In [ ]:
data.select_dtypes(['object', 'float64'], exclude='int64')

In [15]:
data.filter(like='분류')

,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,표준산업분류명
0,I2,음식,I201,한식,I20101,백반/한정식,I56111,한식 일반 음식점업
1,I2,음식,I212,비알코올,I21201,카페,I56221,커피 전문점
2,G2,소매,G209,섬유·의복·신발 소매,G20902,여성 의류 소매업,G47412,여자용 겉옷 소매업
3,I2,음식,I201,한식,I20110,닭/오리고기 구이/찜,I56111,한식 일반 음식점업
4,S2,수리·개인,S208,욕탕·신체관리,S20802,마사지/안마,S96122,마사지업
...,...,...,...,...,...,...,...,...
489867,S2,수리·개인,S209,세탁,S20901,세탁소,S96912,가정용 세탁업
489868,G2,소매,G204,종합 소매,G20405,편의점,G47122,체인화 편의점
489869,S2,수리·개인,S203,자동차 수리·세차,S20302,자동차 세차장,S95213,자동차 세차업
489870,I2,음식,I212,비알코올,I21201,카페,I56221,커피 전문점
489871,I2,음식,I211,주점,I21103,생맥주 전문,I56213,생맥주 전문점

In [ ]:
data[(data['상권업종대분류명'] == '음식') & (data['상권업종소분류명'] == '카페')]